{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
    <div class="content">
        <h1>Login </h1>

        {{ form_start(form) }}
        {{ form_row(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}