{% extends 'base.html.twig' %}

{% block title %}Hello categoryController!{% endblock %}

{% block body %}
    <div class="content">
        <h1>category</h1>

        <ul>
            {% for categories in category %}
                <a href="{{ path('details_categorys', { 'id': category.id }) }}">{{ category.title }}</a>
                <br>

            {% endfor %}
        </ul>


    </div>

{% endblock %}
